body {
  font-family: 'Menlo', 'Consolas', 'DejaVu Sans Mono', monospace;
  margin: 0;
  padding: 0;
}


.header-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
  padding-top: 50px;
}

.site-title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.flourish-embed{
    padding: 0px 30px; /* Adjust the padding as needed */
}

a {
  text-decoration: none;
  color: inherit; /* Ensures links inherit the text color */
}

main {
  padding: 0 20px;
}


article {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px 15px;
  background-color: #fff;
}

.article-title {
  color: #0000ff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0px 40px; /* Adjust the padding as needed */
}

.article-subtitle {
  color: #0000ff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0px 40px; /* Adjust the padding as needed */
}


.article-content {
  font-size: 15px;
  line-height: 2.5;
  margin: 20px 0;
  padding: 0px 40px; /* Adjust the padding as needed */
  text-align: justify; /* Justify text */
}


.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 15px;
  border-top: 1px solid #ddd;
  text-align: center;
}
