@font-face {
  font-family: "FiraMono-Regular";
  src: url("/fonts/FiraMono-Regular.ttf");
}

@font-face {
  font-family: "FiraSans-Light";
  src: url("/fonts/FiraSans-Light.ttf");
}

@font-face {
  font-family: "FiraMono-Medium";
  src: url("/fonts/FiraMono-Medium.ttf");
}

body {
  font-family: "FiraMono-Regular", monospace;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
  padding-top: 50px;
}

main {
  padding: 0 20px;
}

article {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px 15px;
  background-color: #fff;
}

.article-title {
  color: #0000ff;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 0 50px;
}

.article-subtitle {
  color: #0000ff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  padding: 0 50px;
}

.article-content {
  font-size: 14px;
  line-height: 2.5;
  margin: 20px 0;
  padding: 0 50px;
  text-align: justify;
}

.social {
  padding: 0 50px;
  font-size: 14px;
  line-height: 2.5;
}

.social ul {
  list-style-position: inside; /* Place the bullet inside the list item */
  padding-left: 20px; /* Indent the entire list */
}

.social ul li {
  margin-bottom: 5px; /* Optional: Add some spacing between list items */
}

.social ul li.indented {
  padding-left: 30px; /* Adjust this value to include indentation for both text and bullet */
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1.2em;
  background-color: black;
  animation: blink 0.7s infinite alternate;
}

.chart {
  max-height: 500px;
  margin: 20px 0;
  padding: 0 40px;
  text-align: center;
  box-sizing: border-box;
}

.source {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  padding-bottom: 40px;
  max-width: 700px;
  padding: 0 20px 40px;
}

.title {
  font-size: 15px;
  padding: 0 100px;
  padding-top: 40px;
  text-align: center;
  font-weight: bold;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

a:hover {
  color: inherit; /* Ensure hover color is the same as default */
}

.flourish-embed {
  padding: 0 39px;
}

nav {
  font-size: 14px;
}

.line-divider {
  width: calc(100% - 100px); /* Adjust width accounting for padding */
  height: 1px; /* Adjust thickness of the line */
  background-color: black; /* Complementary color (yellow) */
  margin: 0px 50px 30px 50px; /* Adjust padding with margin */
}
